
*{
    padding: 0 auto;
    margin: 0 auto;
    scroll-behavior: smooth;
}
body{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    background-color: #121062;
}
/* all heading */
.he {
    background: linear-gradient(90deg,#00ffff,white,#ff00c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}
/* home page styling */
.home{
    height: 680px;
    width: 100%;
    background-image: url("home\ wall.webp");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;

}
.one{
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 5;
}
.logo{
    height: 120px;
    width: 150px;
    position: relative;
    bottom: 18px;
    left: -120px;
}
.one ul li{
    list-style-type: none;
    display: inline-flex;
    font-size: 20px;
    width: auto; 
    position: relative;
    top: 15px;
    right: -100px;  
}
a{
    padding: 10px;
    text-decoration: none;
    color: white; 
}
.one a:hover{
    color: #00ffff;
    font-size:22px ;
}
.menu-icon{
    display: none;
}
.side-menu{
    display: none;
}

.media{
    position: relative;
    top: 25px;
}
.media .link{
    color: #22e6e6;
    font-size: 22px;
}
.media .git{
    color: black;
    font-size: 22px;
}
.media .what{
    font-size: 22px;
    color: rgb(47, 255, 82);
}
.media .what{
    color: rgb(23, 245, 71);
}
.media{
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
}
.media a:hover{
    font-size: 28px;
}
.media .link:hover{
    color: #4070f4;
}
.media .git:hover{
    color: rgb(238, 234, 11);
}

/* nav bar  mobile design */
.menu-icon {
    font-size: 30px;
    color: orangered;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 1000;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    padding: 10px;
    text-align: center;
}

.side-menu ul li .aa1 {
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.side-menu ul li .aa1:hover {
    background-color: #575757;
}

.show-menu {
    width: 250px; /* Width of the side menu */
}

/* home page content style */
section{
    display: flex;
}
.content{
    display: inline-block;
    position: relative;
    top: 200px;
    right: 250px;

}
.content p{
    font-size: 25px;
    color: #F0F8FF;
}
.content h1{
    font-size: 65px;
    background: linear-gradient(90deg,white,#00ffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h2{
    font-size:45px ;
    background: linear-gradient(white,#ff00c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content span{
    font-size:20px ;
    color: #F0F8FF;
}
.content .btt{
    display:block;
    padding: 0.9rem  1.1rem 0.9rem 1.1rem;
    border-radius: 10px ;
    border: none;
    background-color: rgba(255, 68, 0, 0.945);
    color: #F0F8FF;
    position: relative;
    font-size: 18px;
    right: 260px;
    top: 20px;
}
.content .btt:hover{
    background-color:#F0F8FF ;
    border: none;
    color: rgba(255, 68, 0, 0.945);
}

/* about section styling */

.about{
    height: 650px;
    display: grid;
    grid-template-columns: 30% 70% ;
    grid-template-rows: 84vh; 
    background-color: #121062;
    background-blend-mode: hard-light;
    background-size: cover;
}
.a1 img{

    height: 50%;
    width: 100%;
    position: relative;
    top: 215px;
    left: -30px;
    border-radius: 15px;  
}
.a2 h1{
    font-size: 30px;
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
}
.a2 p{
    position: relative;
    top: 170px;
    font-size: 18px;
    color: #fff;
    text-align: justify;
    padding-right: 50px;
}
.a2 .name{
    font-size:23px;
    margin-bottom: 10px;
    color: orangered;
}
.down{
    background-color: #00ffff;
    color: black;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    top: 240px;
    
}
.down:hover{
    background-color: white;
    color: orangered;
    font-size: 17px;
}

/* skill section styling */
.sk{
    height: 650px;
    width: 100%;
    display: flex;
    background-image: url("skill.png");
    background-size: cover;
}
.sk1 h1{
    text-align: center;
    position: relative;
    top: 80px;
    color: white;
}
.wrap{
    display: flex;
    position: relative;
    top: 260px;
    width: 1200px;
    height: 150px;
    border-radius: 15px;
    border: none;
    overflow: hidden;
    
    
}
.sk-mobile{
    display: none;
    height: 650px;
    width: 100%;
    background-image: url("skill.png");
    background-size: cover;
}
.sk1-mobile h1{
    text-align: center;
    position: relative;
    top: 80px;
}
.wrap-mobile{
    display:none;
    display: flex;
    position: relative;
    top: 160px;
    width: 650px;
    height: 150px;
    border-radius: 15px;
    border: none;
    overflow: hidden;
    
}
.wrap1{
    display: flex;
    position: relative;
    top: 230px;
    width: 600px;
    height: 150px;
    border-radius: 15px;
    border: none;
    overflow: hidden;
    
}
.card1{
    background-image: url("logo/html.png");
    background-size: cover;
}
.card2{
    background-image: url("logo/css.png");
    background-size: cover;
}
.card3{
    background-image: url("logo/js.png");
    background-size: cover;
}
.card4{
    background-image: url("logo/nodejs.png");
    background-size: cover;
}
.card5{
    background-image: url("logo/reactjs.png");
    background-size: cover;
}
.card6{
    background-image: url("logo/figma.png");
    background-size: cover;
}
.card7{
    background-image: url("logo/bootstrap.png");
    background-size: cover;
}
.card8{
    background-image: url("logo/wp.png");
    background-size: cover;
}
.card9{
    background-image: url("logo/git.png");
    background-size: cover;
}
.card10{
    background-image: url("logo/github.png");
    background-size: cover;
}
.card11{
    background-image: url("logo/jira.png");
    background-size: cover;
}
.card{
    flex: 0.5;
    height: 100%;
    transition: flex 0.5s ease;
    cursor: pointer;
}
.card:hover{
    flex: 0.8;
}

/* experience section styling */
.expi{
    height: 650px;
    width: 100%; 
    display:flex; 
    background-color: #121062;
    background-position: center;
    background-size: cover;
}
.exp{
    height: 450px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.315);
    border-radius: 20px;
    border: none; 
    position: relative;
    top: 80px;
    display: inline-block; 
    padding: 35px; 
    line-height: 25px;
    
}
.exp{
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
}
.exp h1{
    position: relative;
    text-align: center;
    color: white;
}
.exp p{
    color: white;
}
.exp .p1{
    font-size: 30px;
    position: relative;
    top: 20px;  
}
.exp .p2{
    font-size: 19px;
}
.exp .p3{
    font-size: 25px;
}
.exp .p4{
    font-size: 20px;
}

/* project section styling */
#con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
 }
.con1{
    width: 100%;
    height: 100px;
    text-align: center;
    position: relative;
    top: 40px;
 }
 .dho{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.555);
    width: 360px;
    height: 500px;
    margin: 20px;
    }
    .image{
        width:310px;
        height: 170px;
        border-radius: 10px;
        background-size: cover;
        display: flex;
        justify-content: center;
        position: relative;
        top: 50px;
    }
    .image1{
        width:310px;
        height: 170px;
        border-radius: 10px;
        background-size: cover;
        display: flex;
        justify-content: center;
        position: relative;
        top: 50px;
    }
    .image2{
        width:310px;
        height: 170px;
        border-radius: 10px;
        background-size: cover;
        display: flex;
        justify-content: center;
        position: relative;
        top: 50px;
        
    }
    .hei{
        font-size: 20px;
        color: white;
        text-align: center;
        position: relative;
        top: 25px;
    }
    .pa0{
        font-size: 18px;
        color: white;
        text-align: center;
       position: relative;
       top: 80px;
        
    }
    .pa1{
        margin-top: 60px;
        font-size: 15px;
        padding: 20px;
        color: white;
        text-align: justify;
        position: relative;
        top: 30px;
    }
    .cont{
        color: white;
        font-size: 18px;
        text-align: center;
        position: relative;
        top:60px;
        padding: 10px;
    }
    .linkbu{
        padding: 8px; 
        border-radius: 15px;
        border: none;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        font-size: 13px;
        background-color: orangered;
        color: #fff;

    }
    .linkbu1{
        position: relative;
        top: 20px;
    }
    .linkbu2{
        position: relative;
        top: -20px;
    }
    .linkbu:hover{
        background-color: #fff;
        color: orangered;
        transform: scale(1.1);
    }
    .linkbu1:hover{
        background-color: #fff;
        color: orangered;
        transform: scale(1.1);
    }
    .linkbu2:hover{
        background-color: #fff;
        color: orangered;
        transform: scale(1.1);
    }
    .front{
        color: white;
        text-align: center;
        position: relative;
        font-size: 15px;
        top:50px;
        padding: 20px;
        
    }
    .conte1{
        color: white;
        font-size: 18px;
        text-align: center;
        position: relative;
        top:70px;
    }
    .inter{
        position: relative;
        top: 70px;
        font-size: 15px;
        color: white;
        text-align: justify;
        padding: 20px;
    }
    

/* contact section styling */
.contact{
    display: flex;
    height: 570px;
    width: 100%;
    background-image: url("contact\ back.jpg");
    background-size: cover;
    background-position: center;
}
.contact input{
    margin-bottom: 35px;
}
.cta{
    height: 450px;
    width: 450px;
    position: relative;
    top: 52px;
    background-color: rgba(236, 16, 218, 0.459);
    border-radius: 15px;
    z-index: 4;
    display: inline-block;
      
}
.cta h1{
    text-align: center;
    position: relative;
    top: 20px;
    color: white;
}
.in1{
    height: 30px;
    width: 300px;
    position: relative;
    top: 40px;
    left: 72px;
    border-radius: 10px;
    border: none;
    font-family: "Parkinsans", sans-serif;
    
}
.in1:hover{
    color: black;
    font-size: 15px; 
}
::placeholder{
    font-size: 15px;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 2px;
}
.bt{
    padding: 0.5rem  1.3rem 0.5rem 1.3rem;
    border-radius: 10px;
    border: none;
    position: relative;
    top: 110px;
    left:-145px;
    font-size: 17px;
    background-color: white;
    color: black;
    font-family: "Parkinsans", sans-serif;
}
.bt:hover{
    background-color: rgba(65, 105, 225, 0.836);
    color: white;  
    box-shadow: 5px 7px 9px white; 
}
/* footer styling */
footer{
    
    position: relative;
    align-items: center;
    padding-top: 30px;
    width:100%;
    background-color: #121062;
}
.f0{
    padding: 0 90px 0 90px ;
}

.f1{
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
}
.f2{
    font-size: 20px;
    background: linear-gradient(90deg,#00ffff,white,#ff00c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.f3{
    text-align: center;
}
.f3 .icon{
    color: #ff00c3;
    font-size: 20px;
}
.f3 .icon:hover{
    font-size: 25px;
}
.f4{
    font-size: 20px;
    color: white;
}
.ic1:hover{
    color: #4070f4;
}
.ic2:hover{
    color: rgb(238, 234, 11);
}
.ic3:hover{
    color: rgb(23, 245, 71);
}

/* responsive design styling */
@media screen and (min-width:320px) and (max-width:768px){
    
    /* home page styling */
    .home{
        height: 100vh;
        width: 100%;
        background-image: url("home\ wall.webp");
        background-size: cover;
        background-position: center;
    }
    .logo{
        height: 70px;
        width: 85px;
        bottom: 7px;
        left: -140px;
    }
    /* mobile view */
    .ul1{
        display: none;
    }
   
        .menu-icon {
            display: block;
            font-size: 25px; 
            padding: 8px; 
        }
    
        .side-menu {
            display: block;
            width: 0; 
            padding-top: 50px; 
        }
    
        .side-menu ul li {
            padding: 8px;
            position: relative;
            right: 0px; 
            left: 15px;  
        }
    
        .side-menu ul li .aa1 {
            font-size: 15px;
        }
    
        .show-menu {
            width: 150px; 
        }
        .side-menu ul li .aa1:hover {
            background-color: #575757;
            transform: scale(1.2);
            color: #00ffff;
        }
    .media{
        top: -5px;  
    }
    @keyframes bounce {
        50% {
          transform: translateY(-7px);
        }
    }
    .media .link{
        font-size: 15px;
        padding: 2px;
    }
    .media .git{
        font-size: 15px;
        padding: 2px;
    }
    .media .what{
        font-size: 17px;
        padding: 2px;
    }
    
    .media a:hover{
        font-size: 20px;
    }
    /* home page content styling */
    .content{
        top: 270px;
        line-height: 50px;
        right: 5px;
    }
    .content p{
        font-size: 20px;
        color: #F0F8FF;
        position: relative;
        left: 10px;
    }
    .content h1{
        font-size: 34px;
        color: #F0F8FF;
        position: relative;
        left: 10px;
    }
    .content h2{
        font-size:24px ;
        color: #4070f4;
        position: relative;
        left: 10px;
    }
    .content span{
        font-size:18px ;
        color: #F0F8FF;
        position: relative;
        left: 10px;
        bottom: 10px;
    }
    .content .btt{
        display:block;
        padding: 0.5rem  1.1rem 0.5rem 1.1rem;
        border-radius: 10px ;
        font-size: 8px;
        right: 115px;
        top: -90px;
    }
    .media{
        position: relative;
        top: -30px;
        left: 10px;
    }

    /* about section styling */
    .about{
        height: 810px;
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: 35vh;  
    }
    .a1 img{
        height: 200px;
        width: 150px;
        top: 50px;
        left: 2px;  
    }
    .a2 h1{
        font-size: 20px;
        top: 60px;
    }
    .a2 p{
        position: relative;
        top: 80px;
        font-size: 14px;
        text-align: justify;
        padding: 10px;
    }
    .a2 .name{
        font-size: 14px;
    }
    .down{
        top: 100px;
        left: 20px;
        font-size: 1rem;
        border-radius: 5px;
   
    }

    /* skill section styling */
    .sk-mobile{
        display:block;
        height: 450px;
        width: 100%;
        display: flex;
        background-color:  #F0F8FF;
    }
    .sk1-mobile h1{
        font-size: 20px;
        top: 50px;
    }
    .wrap-mobile{
        
        top: 100px;
        width: 300px;
        height: 80px;
        
    }
    .wrap1{
        top: 135px;
        width: 250px;
        height: 80px;
        
    }
    .sk {
        display: none;
    }

    /* experience section styling */
    .expi{
        height: 700px;
        width: 100%;
    }
    .exp{
        height: 550px;
        width: 80%;
        border-radius: 10px;
        padding: 15px;  
    }
    .exp h1{
        font-size: 20px;
    }
    .exp .p1{
        font-size: 20px;
        top: 15px;  
    }
    .exp .p2{
        font-size: 15px;
    }
    .exp .p3{
        font-size: 20px;
    }
    .exp .p4{
        font-size: 15px;
    }

    /* project section styling */
    .image{
        width:250px;
        height: 150px;
    }
    .image1{
        width:250px;
        height: 150px;
    }
    .image2{
        width:250px;
        height: 150px;
    }
    .hei{
        font-size: 18px;
    }

    /* contact section styling  */
    .contact{
        display: flex;
        height: 450px;
        width: 100%;
        background-image: url("contact\ back.jpg");
        background-size: cover;
        background-position: center;

    }
    .cta{
        height: 280px;
        width: 270px;
        top: 82px;
        border-radius: 15px;
        z-index: 4;
          
    }
    .cta h1{
        font-size: 18px;
        top: 20px;
    }
    .in1{
        height: 15px;
        width: 160px;
        top: 29px;
        left: 52px;
        border-radius: 5px;
    }
    .in1:hover{
        color: black;
        font-size: 10px; 
    }
    ::placeholder{
        font-size: 8px;
        word-spacing: 2px;
        letter-spacing: 1px;
        bottom: 3px;
        position: relative;
        bottom: 2px;
    }
    .bt{
        padding: 0.5rem  0.9rem 0.5rem 0.9rem;
        border-radius: 7px;
        top: 70px;
        left: -65px;
        font-size: 9px;
    }
    .contact input{
        margin-bottom: 20px;
    }

    /* footer styling */
    .f0{
        padding: 0 50px 0 50px ;
    }
    .f1{
        padding-top: 30px;
        padding-bottom: 10px;
        display: block;
    }
    .f2{
        font-size: 12px;
        text-align: center;
    }
    .f3{
        text-align: center;
    }
    .f4{
        font-size: 11px;
    }
    .f3 .icon{
        color: #ff00c3;
        font-size: 10px;
        padding: 2px;
    }
    .f3 .icon:hover{
        font-size: 15px;
    }
    .ic1:hover{
        color: #4070f4;
    }
    .ic2:hover{
        color: rgb(238, 234, 11);
    }
    .ic3:hover{
        color: rgb(23, 245, 71);
    }

  
}
@media screen and (max-width:768px){
    .logo{
        left: -250px;
    }
}

@media screen and (min-width:1024px){
    .logo{
        left: -70px;
    }
    .one ul li{
        right: -60px;  
    }
    .content{
        right: 160px;
    }
    .wrap{
        width: 950px;
        height: 130px;    
    } 
    .a1 img{

        height: 40%;
        width: 100%;
        top: 255px;
        left: 2px;
          
    } 
}






