
*{
    padding: 0 auto;
    margin: 0 auto;
}
body{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
}
.home{
    height: 680px;
    width: 100%;
    background-image: url("back.jpg");
    background-size: cover;
    display: flex;

}
.one{
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.692);
    z-index: 5;
}
.logo{
    height: 120px;
    width: 150px;
    position: relative;
    bottom: 18px;
    left: -120px;
}
.one ul li{
    list-style-type: none;
    display: inline-flex;
    font-size: 20px;
    width: auto; 
    position: relative;
    top: 15px;  
}
#M{
    display: none;
}
a{
    padding: 10px;
    text-decoration: none;
    color: royalblue; 
}
.one a:hover{
    color: orangered;
    font-size:22px ;
}
.media{
    position: relative;
    top: 25px;
}
.media .link{
    color: rgb(118, 165, 206);
    font-size: 22px;
}
.media{
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
}
.media .git{
    color: rgba(255, 255, 0, 0.644);
    font-size: 22px;
}
.media a:hover{
    font-size: 28px;
}
.media .link:hover{
    color: #4070f4;
}
.media .git:hover{
    color: rgb(238, 234, 11);
}
section{
    display: flex;
}
.content{
    display: inline-block;
    position: relative;
    top: 200px;
    right: 250px;

}
.content p{
    font-size: 25px;
    color: #F0F8FF;
}
.content h1{
    font-size: 65px;
    color: #F0F8FF;
}
.content h2{
    font-size:45px ;
    color: #4070f4;
}
.content span{
    font-size:20px ;
    color: #F0F8FF;
}
.content .btt{
    display:block;
    padding: 0.9rem  1.1rem 0.9rem 1.1rem;
    border-radius: 10px ;
    border: none;
    background-color: rgba(255, 68, 0, 0.945);
    color: #F0F8FF;
    position: relative;
    font-size: 18px;
    right: 260px;
    top: 20px;
}
.content .btt:hover{
    background-color:#F0F8FF ;
    border: none;
    color: rgba(255, 68, 0, 0.945);
    border: 3px solid rgba(255, 68, 0, 0.945);
}

.about{
    height: 600px;
    display: grid;
    grid-template-columns: 400px 800px ;
    grid-template-rows: 84vh;  
}
.a1 img{

    height: 50%;
    width: 100%;
    position: relative;
    top: 215px;
    left: -30px;
    border-radius: 15px;  
}
.a2 h1{
    font-size: 30px;
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
}
.a2 p{
    position: relative;
    top: 170px;
    font-size: 18px;
}
.a2 .name{
    font-size:23px;
}
.down{
    background-color: dodgerblue;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    top: 240px;
    
}
.down:hover{
    background-color: royalblue;
    color: black;
    font-size: 17px;
}
.sk{
    height: 650px;
    width: 100%;
    display: flex;
    background-color:  #F0F8FF;
}
.sk1 h1{
    text-align: center;
    position: relative;
    top: 80px;
}
.wrap{
    display: flex;
    position: relative;
    top: 260px;
    width: 1200px;
    height: 150px;
    border-radius: 15px;
    border: none;
    overflow: hidden;
    
}
.sk-mobile{
    display: none;
    height: 650px;
    width: 100%;
    background-color:  #F0F8FF;
}
.sk1-mobile h1{
    text-align: center;
    position: relative;
    top: 80px;
}
.wrap-mobile{
    display:none;
    display: flex;
    position: relative;
    top: 160px;
    width: 650px;
    height: 150px;
    border-radius: 15px;
    border: none;
    overflow: hidden;
    
}
.wrap1{
    display: flex;
    position: relative;
    top: 230px;
    width: 600px;
    height: 150px;
    border-radius: 15px;
    border: none;
    overflow: hidden;
    
}
.card1{
    background-image: url("https://th.bing.com/th/id/OIP.iw1ChHHQ1j4WvhjbDOAA3QHaHa?rs=1&pid=ImgDetMain");
    background-size: cover;
}
.card2{
    background-image: url("https://ih1.redbubble.net/image.361913632.3593/st,small,507x507-pad,600x600,f8f8f8.u8.jpg");
    background-size: cover;
}
.card3{
    background-image: url("https://ih1.redbubble.net/image.199904207.6522/st,small,507x507-pad,600x600,f8f8f8.jpg");
    background-size: cover;
}
.card4{
    background-image: url("https://th.bing.com/th/id/OIP.0ZVQ6yfG7kPJHBQ_HW9OWgHaHa?w=207&h=207&c=7&r=0&o=5&pid=1.7");
    background-size: cover;
}
.card5{
    background-image: url("https://ih1.redbubble.net/image.1662296386.0401/st,small,507x507-pad,600x600,f8f8f8.u2.jpg");
    background-size: cover;
}
.card6{
    background-image: url("https://th.bing.com/th/id/OIP.RzOX1J6YgbrYAjKuw1lwAwHaHa?rs=1&pid=ImgDetMain");
    background-size: cover;
}
.card7{
    background-image: url("https://th.bing.com/th/id/OIP.vD2UkTEIxjwCENUAUdbSFgHaHa?w=182&h=182&c=7&r=0&o=5&pid=1.7");
    background-size: cover;
}
.card8{
    background-image: url("https://th.bing.com/th/id/OIP.we2ps7zAjLSe5AmIX5enaQHaHa?rs=1&pid=ImgDetMain");
    background-size: cover;
}
.card9{
    background-image: url("https://i.pinimg.com/736x/2f/21/59/2f21599e008a9a54c638cbf2a9d0e8a1.jpg");
    background-size: cover;
}
.card10{
    background-image: url("https://ih1.redbubble.net/image.1279800942.6040/st,small,507x507-pad,600x600,f8f8f8.u2.jpg");
    background-size: cover;
}
.card11{
    background-image: url("https://ih1.redbubble.net/image.1912789095.6394/st,small,507x507-pad,600x600,f8f8f8.jpg");
    background-size: cover;
}
.card{
    flex: 0.5;
    height: 100%;
    transition: flex 0.5s ease;
    cursor: pointer;
}
.card:hover{
    flex: 0.8;
}
.expi{
    height: 650px;
    width: 100%; 
    display:flex; 
    background-color: black;
}
.exp{
    height: 450px;
    width: 80%;
    background-color: #F0F8FF;
    border-radius: 10px;
    border: none; 
    position: relative;
    top: 80px;
    display: inline-block; 
    padding: 35px; 
    line-height: 25px;
    
}
.exp{
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
}
.exp h1{
    position: relative;
    text-align: center;
}
.exp .p1{
    font-size: 30px;
    position: relative;
    top: 20px;  
}
.exp .p2{
    font-size: 19px;
}
.exp .p3{
    font-size: 25px;
}
.exp .p4{
    font-size: 20px;
}
.contact{
    display: flex;
    height: 570px;
    width: 100%;
}
.contact input{
    margin-bottom: 35px;
}
.cta{
    height: 450px;
    width: 400px;
    position: relative;
    top: 52px;
    background-color: rgba(127, 255, 212, 0.39);
    border-radius: 15px;
    z-index: 4;
    display: inline-block;
      
}
.cta:hover{
    box-shadow: 5px 7px 9px orange;
}
.cta h1{
    text-align: center;
    position: relative;
    top: 20px;
}
.in1{
    height: 30px;
    width: 300px;
    position: relative;
    top: 40px;
    left: 45px;
    border-radius: 10px;
    border: none;
    
}
.in1:hover{
    background-color: black;
    color: #F0F8FF;
}
::placeholder{
    font-size: 15px;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 2px;
}
.bt{
    padding: 0.5rem  1.3rem 0.5rem 1.3rem;
    border-radius: 10px;
    border: none;
    position: relative;
    top: 70px;
    left: 141px;
    font-size: 17px;
    background-color: rgba(0, 0, 255, 0.432);
    color: aliceblue;
}
.bt:hover{
    background-color: rgba(255, 255, 0, 0.644);
    color: black;
}
.scroll-button a{
    position: fixed;
    color: #fff;
    left: 1250px;
    bottom: 20px;
    background: #4070f4;
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    z-index: 10;
  }

@media screen and (min-width:375px) and (max-width:700px){
    .home{
        height: 700px;
        width: 100%;
    }
    .one{
        height: 50px;
        width: 100%;
        z-index: 5;
        position: fixed;
    }
    .logo{
        height: 60px;
        width: 75px;
        bottom: 7px;
        left: -10px;
    }
    .one ul li{
        font-size: 8px;
        top: 7px;   
    }
    #D{
        display: none;
    }
    #M{
        display: block;
    }
    a{
        padding: 2px; 
    }
    .one a:hover{
        font-size:7px ;
    }
    .media{
        top: -5px;  
    }
    @keyframes bounce {
        50% {
          transform: translateY(-7px);
        }
    }
    .media .link{
        font-size: 15px;
    }
    .media .git{
        font-size: 15px;
    }
    .media a:hover{
        font-size: 20px;
    }
    .content{
        top: 220px;
        line-height: 50px;
        right: 5px;
    }
    .content p{
        font-size: 20px;
        color: #F0F8FF;
    }
    .content h1{
        font-size: 34px;
        color: #F0F8FF;
    }
    .content h2{
        font-size:24px ;
        color: #4070f4;
    }
    .content span{
        font-size:18px ;
        color: #F0F8FF;
    }
    .content .btt{
        display:block;
        padding: 0.5rem  1.1rem 0.5rem 1.1rem;
        border-radius: 10px ;
        font-size: 8px;
        right: 135px;
        top: -60px;
    }
    .about{
        height: 750px;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 35vh;  
    }
    .a1 img{
        height: 200px;
        width: 150px;
        top: 50px;
        left: 2px;  
    }
    .a2 h1{
        font-size: 20px;
        top: 60px;
    }
    .a2 p{
        position: relative;
        top: 80px;
        font-size: 14px;
        text-align: justify;
        padding: 10px;
    }
    .a2 .name{
        font-size: 14px;
    }
    .down{
        top: 100px;
        left: 20px;
        font-size: 1rem;
        border-radius: 5px;
   
    }
    .sk-mobile{
        display:block;
        height: 450px;
        width: 100%;
        display: flex;
        background-color:  #F0F8FF;
    }
    .sk1-mobile h1{
        font-size: 20px;
        top: 50px;
    }
    .wrap-mobile{
        
        top: 100px;
        width: 350px;
        height: 80px;
        
    }
    .wrap1{
        top: 135px;
        width: 300px;
        height: 80px;
        
    }
    .sk {
        display: none;
    }

    .expi{
        height: 700px;
        width: 100%; 
    }
    .exp{
        height: 550px;
        width: 80%;
        border-radius: 10px;
        padding: 15px;  
    }
    .exp h1{
        font-size: 20px;
    }
    .exp .p1{
        font-size: 20px;
        top: 15px;  
    }
    .exp .p2{
        font-size: 15px;
    }
    .exp .p3{
        font-size: 20px;
    }
    .exp .p4{
        font-size: 15px;
    }
    .contact{
        display: flex;
        height: 450px;
        width: 100%;
    }
    .cta{
        height: 280px;
        width: 270px;
        top: 82px;
        border-radius: 15px;
        z-index: 4;
          
    }
    .cta h1{
        font-size: 18px;
        top: 20px;
    }
    .in1{
        height: 15px;
        width: 160px;
        top: 29px;
        left: 52px;
        border-radius: 5px;
    }
    ::placeholder{
        font-size: 8px;
        word-spacing: 2px;
        letter-spacing: 1px;
        bottom: 3px;
    }
    .bt{
        padding: 0.5rem  0.9rem 0.5rem 0.9rem;
        border-radius: 7px;
        top: 70px;
        left: -65px;
        font-size: 9px;
    }
    .contact input{
        margin-bottom: 20px;
    }
    .scroll-button a{
        position: fixed;
        color: #fff;
        left: 1050px;
        background: #4070f4;
        padding: 7px 12px;;
        font-size: 18px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.15);
        z-index: 10;
      }
    
}







